<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BossType</key>
		<integer>1</integer>
		<key>TileMap</key><!--each level needs to know which tile map to use-->
		<string>Images/map_level1.tmx</string>
		<key>BattleEvents</key>
		<array>
			<dict>
				<key>Column</key><!--This 
means that this particular event will be triggered once the hero steps onto the 15th
column of tiles from the left side of the map. 当英雄处于某列的时候会触发特别的事件-->
				<integer>15</integer>
				<key>Enemies</key><!--存储了敌人的位置及相关属性-->
				<array>
					<dict>
						<key>Type</key><!--The Type of enemy. A robot? A boss enemy? Or something else? This will be an 
ID number that will correspond to an object/character in the game. 敌人类型-->
						<integer>0</integer>
						<key>Row</key><!-- The Row of the enemy. On which row will the enemy spawn? Remember that 
there are only three rows from the bottom of the map that enemies (or the hero) 
can stand upon. 出现在哪一行（一共只有三行）-->
						<integer>2</integer>
						<key>Offset</key><!--The Offset of the enemy in terms of screen width. How far from the starting 
column of the event will the enemy spawn? A value of -1 means that it will spawn 
at the left edge of the screen, whereas a value of 1 means that it will spawn at 
the right edge of the screen. 敌人出现在屏幕的位置（-1最左边，1最右边）-->
						<integer>-1</integer>
						<!--Both the Row and Offset values make it easy to position each enemy when a battle 
event occurs and they save you from having to calculate CGPoints yourself.当battle event发生时可以通过Row和Offset很方便的计算出敌人的位置，不必计算自身点-->
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key><!--The Color of the enemy. Remember the ColorSet attribute of the Robot class? You 
will use it here. The number 4 means that it will use kColorRandom. 敌人颜色-->
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>30</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>45</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>60</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>75</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>90</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>BossType</key>
		<integer>0</integer>
		<key>TileMap</key>
		<string>Images/map_level1.tmx</string>
		<key>BattleEvents</key>
		<array>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>15</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.4</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>20</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>30</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>45</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>65</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>80</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>95</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>BossType</key>
		<integer>1</integer>
		<key>TileMap</key>
		<string>Images/map_level1.tmx</string>
		<key>BattleEvents</key>
		<array>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>15</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.4</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>20</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>30</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>45</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>65</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>80</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>95</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>1</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
