<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BossType</key>
		<integer>1</integer>
		<key>TileMap</key>
		<string>Images/map_level1.tmx</string>
		<key>BattleEvents</key>
		<array>
			<dict>
				<key>Column</key>
				<integer>15</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>30</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>45</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>60</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>75</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>90</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>1</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>BossType</key>
		<integer>0</integer>
		<key>TileMap</key>
		<string>Images/map_level1.tmx</string>
		<key>BattleEvents</key>
		<array>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>15</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.4</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>20</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>30</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>45</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>65</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>80</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>95</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>2</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>BossType</key>
		<integer>1</integer>
		<key>TileMap</key>
		<string>Images/map_level1.tmx</string>
		<key>BattleEvents</key>
		<array>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>15</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.4</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>20</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>30</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>45</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>65</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>80</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>-1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>-1.3</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>0</integer>
						<key>Offset</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Column</key>
				<integer>95</integer>
				<key>Enemies</key>
				<array>
					<dict>
						<key>Type</key>
						<integer>1</integer>
						<key>Color</key>
						<integer>4</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>1</integer>
						<key>Offset</key>
						<real>-1.2</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>3</integer>
						<key>Offset</key>
						<real>1.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<integer>0</integer>
						<key>Color</key>
						<integer>3</integer>
						<key>Row</key>
						<integer>2</integer>
						<key>Offset</key>
						<real>-1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
